os: linux
dist: xenial
language: python
python:
- 3.5
- 3.6
- 3.7
- 3.8

env:
- DJANGO=2.2
- DJANGO=3.0

install:
- pip install tox-travis
script:
- tox

stages:
- lint
- test
- deploy

jobs:
  allow_failures:
  - env: TOXENV=behave-latest
  exclude:
  # Python/Django combinations that aren't officially supported
  - { python: 3.5, env: DJANGO=3.0 }
  include:
  - { stage: lint, python: 3.7, env: TOXENV=flake8 }
  - { stage: lint, python: 3.7, env: TOXENV=bandit }
  - { stage: lint, python: 3.7, env: TOXENV=readme }
  - { stage: test, python: 3.8, env: TOXENV=behave-latest }
  - stage: deploy
    if: tag is present
    deploy:
      provider: pypi
      distributions: sdist bdist_wheel
      username: bittner
      password:
        secure: ZDiKycFTX3hFqHkq3ujxoi5SJ6A4gqzCCCh8PYrnx+MYOQUdJNVpY4NyKXk2vk8AhpKcYWv0G9A2/XkmYTgVKdOscJooe4gKDF4RROZEpiuv7PSpxlpjy9kgfxtWIEirVjveloZm6woAdIP7pIIqJOtWVifDjk/4nnGEBRCJ6vc8aZjMMxkhwDTMNCGaGUeJvPy9L84AyaFECeHoF86cgw78xouwqojttwPrYPqQ6lyd7IIOalLRYAi5qmWt2rQW8ar31tl0bBcBsu8DONZnTE0OYtMI0fKnuiEt+aeVQ26/SJhSx2ajiACwEV2oOhwNPZqe4S60M6zgy/0d/LbaUSXadlH0G0tJPBuSVKu68ztG5JLVjNZFYgtzYpX9GV/lCmE7jpd2dmYsd3N74hLxcknGB4K8y++fqJfHrjJ+Ye37W/mK0qFIil6/gGSQ9RTkOlAvGgH4y1grwVQM1ySLeXCjChsCJhlfO/NMVhbrDsQA7VJ8xz36uTKE7tva5TYU0/zcj6Tsg/CoDuduiLLcfsqfAwdGhW0Az0oC41wkpSqHUYmMNnxbp0BM8fXsf0Bol4P8zunz6wNepmuvNXv5Fyoqor21nikwtPytGuamdrnBUW1FRpdRnFzJ3dF6qv3F9IQEiuQs3hCwwKI5xDxsgI62TOWmswqGqvMLxFCVaFk=
    env:
    install: skip
    script: skip
    python: 3.7
