[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
behave = "*"
Django = ">=2.2"

[dev-packages]
bandit = "*"
flake8 = "*"
pytest = "*"
tox = "*"
Sphinx = "*"

[requires]
