[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
Django = ">=1.11"

[dev-packages]
bandit = "*"
flake8 = "*"
pytest = "*"
tox = "*"
Sphinx = "*"

[requires]
